
.sou{    background: rgba(51,51,51,.06);
    height: 2rem;
    border-radius: 1rem;
    font-size: .875rem;
    text-align: center;
    line-height: 2rem;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    img{    width: 7.625rem}}
    
 .goood-item{background:#fff;
        border:1px solid #ccc;
     .p2{width:100%;border-radius: 0.25rem 0.25rem 0 0;height:100px;}
     .p4{text-align:left;padding:2px;}
     .p5{text-align:left;padding:2px;}
     .p6{color:#f05423;text-align:left;padding:2px;height:40px;line-height:40px;}
     .p7{height:40px;width:34px;float:right;margin-right:10px;}
 }
   .goods{background:#ccc;}
// .lie{background:#ccc;}

