

.am-tabs-default-bar-tab{
    
    height:80px;line-height:60px;
   
}
.am-tabs-default-bar-tab-active {
     color:#45ac2a;
    background: #fff;
}

.ulist{
    width:70px;padding-bottom: 3rem;border-right:1px solid #ccc;float:left;
    
    color:#666;
    li{height:46px;line-height:46px;text-align: center;border-bottom: 1px solid #ccc;background:#F2F2F2;}
}





.active{
    color:#45ac2a;border-left:2px solid #45ac2a;
    
}
.xin{float:right;width:280px;
    h6{font-size: 1.125rem;color: #333;text-align:left;width:280px;float:left;}
   .feng{width:30%;float:left;margin:10px 2px;
   img{width:100%;}
   p{font-size:0.875rem;
    text-align: center;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
    
}
}











